.form {
  display: inline-flex;
  flex-direction: column;
  border: 1px solid black; 
  padding: 10px;
  width: 200px;
}

.title {
  font-weight: 700;
}

.btn {
  width: 100px;
  height: 40px;
  margin: 5px auto;
  background-color: rgb(17, 211, 27);
  cursor: pointer;
}

.btn:hover {
  background-color: rgb(16, 119, 62);
}
